
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* navbar styles */

nav{
    max-width: 1600px;
    margin: 0 auto;
   background-color: #1A0B2E; 
}
.nav-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}
.logo{
    width: 22.2rem;
    height: 3.2rem;
}
.menu{
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;

}
.menu a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}
.hamburger-menu{
    display: none;
}
.btn{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    padding: 12.5px 16px;
    background: linear-gradient(90deg,rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)); 
    border: none;
    border-radius: 10000px;
    cursor: pointer;
    
}
 .btn:hover{
    background: linear-gradient(45deg, rgba(145, 0, 248, 1),rgba(247, 233, 63, 1), rgba(251, 9, 180, 1) );
    transition: 5s;
}
.btn i{
    margin-left: 5px;
}
/* Banner Section Styles */
.banner-section{
    max-width: 1600px;
    
    margin:0 auto;
    background-image: url(../assets/hero-bg.png);
   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-container{
    /* border: 2px solid white; */
    padding: 101px 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-img{
    /* border: 1px solid white; */
    position: relative;
    display: inline-block;
    padding: 0 100px 40px 100px;
    /* margin-bottom: 50px; */
   
}
.outer-image{
    /* border: 1px solid red; */
    display: block;
   width: 325px;
   height: 325px;
   /* width: 80%; */
   border-radius: 50%;
   box-shadow: 0 3px 27px 0 #00ff8881;
}
.inner-image{
    position: absolute;
    top: 69px;
    left: 210px;
    /* right: 100px; */
    width: 20%;
}
.tool{
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 1000px;
    border: none;
    box-shadow: 0 3px 27px 0 #00ff8881;
    margin-left: 230px;
    /* margin-bottom: -20px; */
    
    /* margin-bottom: -100px; */
    position: absolute;

}
.banner-content{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* padding: 0; */
    width: 50%;
    /* border: 1px solid white; */

}
.banner-content h1{
    font-size: 5.8rem;
    color: #FFFFFF;
    font-weight: 800;
    margin-bottom: 8px;
}
.banner-content p{
    font-size: 1.3rem;
    color: #FFFFFF;
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
}
.banner-button{
    display: flex;
    gap: 8px;
}
.btn1{
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 8px 20px;
}
.btn2{
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 8px 20px;
    color: #00FF88;
    background-color: transparent;
     border: 1px solid #00FF88;
    border-radius: 10000px;
    cursor: pointer;
}
.btn2:hover{
    background-color: #00ff8850;
    transition: 2s;
}
/* About Section Styles */
.about-section{
    max-width: 1600px;
    margin: 0 auto;
    /* border: 1px solid green; */
    background-color: #1A0B2E ;
}
.about-container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 120px;

}
.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-content h2{
    font-size: 4.6rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;

}
.about-content p{
    text-align: center;
    line-height: 20px;
    color: #FFFFFF;
    font-size: 1.3rem;
    font-weight: 100;
    margin-bottom: 80px;
}
hr{
    margin-bottom: 80px;
    /* color: #00FF88; */
    
    }
.about-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    /* margin-bottom: 120px; */
}
.card{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.card h1{
    color: #00FF88;
    font-size: 3.6rem;
    font-weight: 900;
    margin-bottom: 16px;
}
.card p{
 color: #FFFFFF;
 font-size: 1.3rem;
 font-weight: 100;

}
/* Why Choose Techwave Styles */
.choose-section{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #230E3D;
    /* border: 3px solid green; */
}
.choose-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;
    
}
.choose-content h1{
    font-size: 4.4rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.choose-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
    border: none;
    /* border: 1px solid green; */
} 
.box{
    padding: 40px;
    background-color: #351165;
    border-radius: 40px;
}
.box img{
    max-width: 35px;
    margin-bottom: 16px;
}
.box h3{
    font-size: 2.4rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.box p{
    font-size: 1.3rem;
    font-weight: 100;
    color: #FFFFFF;
    line-height: 24px;
}
.box1{
    grid-row: span 2;
    padding: 150px 30px;
}
.box2{
    grid-column: span 2;
}
.box3{
    grid-column: span 2;
}
.box4{
    grid-column: span 2;
}


 











@media screen and (max-width:576px){
    html,body{
        width: 100%;
        overflow-x: hidden;
        
    }
    .nav-container{
        padding: 24px;
        width: 100%;
        /* margin: 0 auto; */
        /* background-size: contain; */

    }
    .nav-container>.btn,.menu{
          display: none;
    }
    .hamburger-menu{
        display: inline;
    }
    .banner-section{
       
        width: 100%;
        /* margin: 0 auto; */
    }
    .banner-section{
    /* width: 100%; */
    
   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* .about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    }
    .about-content p{
        line-height: auto;
    }
    .about-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    /* margin-bottom: 120px; */
}
.choose-content h1{
   padding-left: 2px;
   padding-right: 2px;
    /* display: flex;
    align-items: center; */
    text-align: center;
}
.choose-card {
    /* display: grid; */
    grid-template-columns: 1fr;
}
.box1{
    padding: 0px;
}
.box{
    padding: 40px;
}



    
}
